
@{
    Layout = null;
}

<nav id="sidebar" class="sidebar">
    <div class="resize-handle"></div>
    <div class="sidebar__nav-top">
        <a href="#/home" class="sidebar__web-info">
            <img src="./assets/images/logo-dark.svg" alt="PronaFlow" class="logo">
            <span class="web-name item-hide-collapsed">PronaFlow</span>
        </a>

        <button class="sidebar__user-profile" popovertarget="profile-menu" popovertargetaction="toggle"
                type="button">
            <div id="userAvt">
                <img class="user__avt" src="./assets/images/avt-notion_1.png" alt="User Avatar">
            </div>
            <span class="user__name item-hide-collapsed" id="user-name">${userName}</span>
        </button>

        <div id="profile-menu" popover class="popover profile-menu" aria-labelledby="profile-menu-title">
            <div class="popover__header">
                <h4 id="profile-menu-title" class="popover__title">Profile Menu</h4>
                <button class="btn-exit" popovertarget="profile-menu" popovertargetaction="hide">
                    <i data-lucide="x"></i>
                </button>
            </div>
            <div class="popover__body">
                <div class="user-info popover-item">
                    <span id="user-name">${userName}</span>
                    <span id="user-email">${userEmail}</span>
                </div>
                <div class="divider"></div>
                <ul class="popover-action-list">
                    <li>
                        <button type="button" class="popover-item">
                            <a href="#/setting" class="popover-item">
                                <i data-lucide="settings-2" class="icon-md"></i>
                                <span>Manage Account</span>
                            </a>
                        </button>
                    </li>
                    <li>
                        <button id="sign-out-btn" type="button" class="popover-item btn-danger">
                            <i data-lucide="log-out" class="icon-md"></i>
                            <span>Sign out</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sidebar__nav-mid">
        <div class="nav-group sidebar-dashboard">
            <a class="sidebar__nav-item" href="#/dashboard">
                <i class="nav-icon icon-lg" data-lucide="tv-minimal"></i>
                <span class="item-hide-collapsed">Dashboard</span>
            </a>
        </div>

        <div class="nav-group group-1">
            <select name="" id="workspace-selector" class="sidebar__workspace-selector">
                <option value="" disabled selected hidden>Choose Workspace</option>
            </select>

            <ul class="sidebar__workspace-tools">
                <li>
                    <a class="sidebar__nav-item" href="#/kanban-board" ">
                        <i class=" nav-icon icon-lg" data-lucide="square-kanban"></i>
                        <span class="item-hide-collapsed">Kanban Board</span>
                    </a>
                </li>
                <li>
                    <a class="sidebar__nav-item" href="#/my-task">
                        <i class="nav-icon icon-lg" data-lucide="list-todo"></i>
                        <span class="item-hide-collapsed">My Tasks</span>
                    </a>
                </li>
                <li>
                    <a class="sidebar__nav-item" href="#/my-calendar">
                        <i class="nav-icon icon-lg" data-lucide="calendar"></i>
                        <span class="item-hide-collapsed">My Calendar</span>
                    </a>
                </li>
            </ul>
        </div>

        <ul class="nav-group group-2">
            <li>
                <a class="sidebar__nav-item" href="#/trash">
                    <i class="nav-icon icon-lg" data-lucide="trash-2"></i>
                    <span class="item-hide-collapsed">Trash</span>
                </a>
            </li>
            <li>
                <a class="sidebar__nav-item" href="#/archive">
                    <i class="nav-icon icon-lg" data-lucide="archive"></i>
                    <span class="item-hide-collapsed">Archive</span>
                </a>
            </li>
        </ul>

        <div id="mobile-tools-group" class="mobile-group no-scrollbar">
            <button class="mobile-group-toggle" type="button" aria-label="Toggle Tools Menu">
                <i data-lucide="grid-2x2"></i>
            </button>
            <ul class="mobile-group__list">
                <li>
                    <a class="sidebar__nav-item" href="#/kanban-board">
                        <i class="nav-icon icon-lg"
                           data-lucide="square-kanban"></i>
                    </a>
                </li>
                <li>
                    <a class="sidebar__nav-item" href="#/my-task">
                        <i class="nav-icon icon-lg"
                           data-lucide="list-todo"></i>
                    </a>
                </li>
                <li>
                    <a class="sidebar__nav-item" href="#/my-calendar">
                        <i class="nav-icon icon-lg"
                           data-lucide="calendar"></i>
                    </a>
                </li>
                <li>
                    <a class="sidebar__nav-item" href="#/trash">
                        <i class="nav-icon icon-lg"
                           data-lucide="trash-2"></i>
                    </a>
                </li>
                <li>
                    <a class="sidebar__nav-item" href="#/archive">
                        <i class="nav-icon icon-lg"
                           data-lucide="archive"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sidebar__nav-bot">
        <div class="divider"></div>
        <div class="nav-bot__inner">
            <a href="#/setting" title="Settings" class="sidebar-bot-btn icon-lg"><i data-lucide="settings"></i></a>
            <a href="#/notification" title="Notifications" class="sidebar-bot-btn icon-lg">
                <i data-lucide="bell"></i>
            </a>
        </div>
    </div>
</nav>
<button id="sidebar-toggle-button" class="sidebar-toggle resize-handle">
    <i class="icon-open" data-lucide="chevrons-left"></i>
    <i class="icon-closed" data-lucide="chevrons-right"></i>
</button>
