<div class="task-item">
    <!-- Checkbox -->
    <label class="custom-checkbox">
        <input type="checkbox"><span class="custom-checkbox__checkmark"></span>
    </label>
    <!-- inner -->
    <div class="project__task-card" data-task-id="task_001">
        <input type="text" class="task__name" value="Design wireframe for Dashboard">
        <div class="task-card__action-btns">
            <button class="task-card__opt-icon btn-hover" id="openTaskDetailBtn">
                <i data-lucide="external-link" class="icon-md"></i>
            </button>
            <button class="task-card__opt-icon btn-hover js-task-actions-btn"
                    id="taskActionsBtn" popovertarget="taskActionsPopover"
                    popovertargetaction="toggle">
                <i data-lucide="ellipsis-vertical" class="icon-md"></i>
            </button>

            <!-- Task actions popover (hidden by default) -->
            <div popover class="popover popover--task-actions" id="taskActionsPopover">
                <ul class="popover-action-list"
                    style="list-style: none; padding: 5px; margin: 0;">
                    <li>
                        <button class="popover-item">
                            <i data-lucide="copy"></i>
                            Copy
                        </button>
                    </li>
                    <li>
                        <button class="popover-item">
                            <i data-lucide="move"></i>
                            Move
                        </button>
                    </li>
                    <div class="divider"></div>
                    <li>
                        <button class="popover-item btn--danger">
                            <i data-lucide="trash-2"></i> Delete
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>