@model IEnumerable<PronaFlow_MVC.Models.ViewModels.ListOfWorkspaces>
<select id="workspace-selector" class="sidebar__workspace-selector" onchange="location.href=this.value">
    <option value="" disabled selected hidden>Choose Workspace</option>
    @foreach (var w in Model)
    {
        <option value="@Url.Action("Index", "Kanbanboard", new { workspaceId = w.Id })">@w.Name</option>
    }
</select>

